@import "tailwindcss";

* {
	font-family: Inter;
}
/* Ensure the body takes full height */
html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Instant transitions for that 2D snappy feel */
a,
button {
	transition: all 0.1s ease-in-out !important;
}
